six>=1.9.0
python-dateutil>=2.5.3
setuptools>=21.0.0
urllib3<1.24,>=1.21.1
pyyaml>=3.12
google-auth>=1.0.1
ipaddress>=1.0.17
websocket-client!=0.40.0,!=0.41.*,!=0.42.*,>=0.32.0
requests
requests-oauthlib
pyasn1>=0.1.7
pyasn1-modules>=0.0.5
cachetools>=2.0.0
rsa>=3.1.4
backports.ssl_match_hostname
chardet<3.1.0,>=3.0.2
idna<2.7,>=2.5
oauthlib>=0.6.2
kubernetes==7.0.0
